= content_tag :meta, '', charset: Rails.application.config.encoding

title
  = browser_title(yield(:title))

== content_tag :meta, '', name: 'description', content: @meta.meta_description                                if @meta.meta_description.present?
== content_tag :meta, '', name: 'viewport', content: 'width=device-width, initial-scale=1'
== content_tag :link, '', rel: 'canonical', href: "#{request.protocol}#{request.host_with_port}#{@canonical}" if @canonical.present?

= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend

= yield :meta

= stylesheet_link_tag 'application'
= yield :stylesheets

= render '/refinery/google_analytics'
= javascript_include_tag 'modernizr-min'
